In [155]:
import csv

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [156]:
train = pd.read_csv('train.csv', index_col='id')

train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed,subscribe
id,,,,,,,,,,,,,,,,,,,,,
1,51,admin.,divorced,professional.course,no,yes,yes,cellular,aug,mon,...,1,112,2,failure,1.4,90.81,-35.53,0.69,5219.74,no
2,50,services,married,high.school,unknown,yes,no,cellular,may,mon,...,1,412,2,nonexistent,-1.8,96.33,-40.58,4.05,4974.79,yes
3,48,blue-collar,divorced,basic.9y,no,no,no,cellular,apr,wed,...,0,1027,1,failure,-1.8,96.33,-44.74,1.50,5022.61,no
4,26,entrepreneur,single,high.school,yes,yes,yes,cellular,aug,fri,...,26,998,0,nonexistent,1.4,97.08,-35.55,5.11,5222.87,yes
5,45,admin.,single,university.degree,no,no,no,cellular,nov,tue,...,1,240,4,success,-3.4,89.82,-33.83,1.17,4884.70,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22496,33,admin.,married,high.school,no,no,no,cellular,aug,fri,...,3,925,3,failure,-2.9,92.47,-43.30,3.36,5203.22,yes
22497,34,admin.,divorced,high.school,no,unknown,unknown,cellular,aug,fri,...,14,533,3,failure,1.4,93.64,-26.27,4.41,4914.80,no
22498,25,admin.,married,professional.course,no,yes,no,cellular,may,thu,...,0,792,5,success,-1.8,90.43,-36.75,4.05,5114.30,no
22499,57,retired,married,high.school,no,yes,no,telephone,may,tue,...,5,989,0,nonexistent,1.1,89.38,-37.96,4.95,5284.43,no
22500,44,blue-collar,married,basic.9y,unknown,yes,no,cellular,apr,fri,...,0,1001,1,failure,-1.8,90.18,-46.20,1.45,5155.19,yes

In [157]:
test = pd.read_csv('test.csv', index_col='id')

test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed
id,,,,,,,,,,,,,,,,,,,,
22501,35,technician,single,professional.course,no,yes,yes,cellular,aug,mon,3295,1,476,0,success,1.4,95.37,-33.04,3.63,5204.54
22502,26,admin.,single,high.school,no,yes,no,cellular,may,thu,2872,1,166,2,success,-1.8,91.75,-44.42,3.16,4924.78
22503,44,blue-collar,married,basic.6y,no,no,no,telephone,may,mon,268,3,968,0,nonexistent,1.1,89.67,-36.90,5.04,4947.02
22504,36,blue-collar,married,basic.9y,no,yes,no,telephone,nov,thu,30,1,432,5,success,-0.1,89.87,-41.66,3.27,5203.33
22505,41,blue-collar,married,basic.4y,no,yes,no,telephone,may,thu,1670,1,944,3,success,1.1,97.64,-36.32,3.95,4992.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,49,admin.,unknown,university.degree,unknown,yes,yes,telephone,apr,fri,3937,50,302,1,failure,-1.8,95.77,-40.50,3.86,5058.64
29997,34,blue-collar,married,basic.4y,no,no,no,cellular,jul,wed,584,8,440,3,failure,1.4,90.59,-47.29,1.77,5156.70
29998,50,retired,single,basic.4y,no,yes,no,cellular,jun,mon,102,3,997,0,nonexistent,-2.9,97.42,-39.69,1.29,5116.80
29999,31,technician,married,professional.course,no,no,no,cellular,aug,thu,179,3,1028,0,nonexistent,1.4,96.90,-37.68,5.18,5144.45
30000,46,admin.,divorced,university.degree,no,yes,no,cellular,aug,mon,1785,2,387,3,success,1.4,97.49,-31.54,3.79,5082.25

In [158]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22500 entries, 1 to 22500
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               22500 non-null  int64
 1   job               22500 non-null  object
 2   marital           22500 non-null  object
 3   education         22500 non-null  object
 4   default           22500 non-null  object
 5   housing           22500 non-null  object
 6   loan              22500 non-null  object
 7   contact           22500 non-null  object
 8   month             22500 non-null  object
 9   day_of_week       22500 non-null  object
 10  duration          22500 non-null  int64
 11  campaign          22500 non-null  int64
 12  pdays             22500 non-null  int64
 13  previous          22500 non-null  int64
 14  poutcome          22500 non-null  object
 15  emp_var_rate      22500 non-null  float64
 16  cons_price_index  22500 non-null  float64
 17  cons_conf_index   22500 non-null  float64
 18  lending_rate3m    22500 non-null  float64
 19  nr_employed       22500 non-null  float64
 20  subscribe         22500 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 3.8+ MB

In [159]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 22501 to 30000
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               7500 non-null   int64
 1   job               7500 non-null   object
 2   marital           7500 non-null   object
 3   education         7500 non-null   object
 4   default           7500 non-null   object
 5   housing           7500 non-null   object
 6   loan              7500 non-null   object
 7   contact           7500 non-null   object
 8   month             7500 non-null   object
 9   day_of_week       7500 non-null   object
 10  duration          7500 non-null   int64
 11  campaign          7500 non-null   int64
 12  pdays             7500 non-null   int64
 13  previous          7500 non-null   int64
 14  poutcome          7500 non-null   object
 15  emp_var_rate      7500 non-null   float64
 16  cons_price_index  7500 non-null   float64
 17  cons_conf_index   7500 non-null   float64
 18  lending_rate3m    7500 non-null   float64
 19  nr_employed       7500 non-null   float64
dtypes: float64(5), int64(5), object(10)
memory usage: 1.2+ MB

In [160]:
numerical_feature = list(test.select_dtypes(exclude='object').columns)
categorical_feature = list(test.select_dtypes(include='object').columns)

numerical_feature, categorical_feature

(['age',
  'duration',
  'campaign',
  'pdays',
  'previous',
  'emp_var_rate',
  'cons_price_index',
  'cons_conf_index',
  'lending_rate3m',
  'nr_employed'],
 ['job',
  'marital',
  'education',
  'default',
  'housing',
  'loan',
  'contact',
  'month',
  'day_of_week',
  'poutcome'])

In [161]:
for f in categorical_feature:
    print(f'{f} has {train[f].nunique()} unique values')

job has 12 unique values
marital has 4 unique values
education has 8 unique values
default has 3 unique values
housing has 3 unique values
loan has 3 unique values
contact has 2 unique values
month has 10 unique values
day_of_week has 5 unique values
poutcome has 3 unique values

In [162]:
import seaborn as sns
import matplotlib.pyplot as plt

# for f in categorical_feature:
#     sns.countplot(x=f, data=train)
#     plt.xticks(rotation=90)
#     plt.show()

In [163]:
# 类别特征中 month 和 day_of_week 表示上次和客户联系的月份和星期几，感觉价值不大
# categorical_feature.remove('month')
# categorical_feature.remove('day_of_week')
# train.pop('month')
# train.pop('day_of_week')
# test.pop('month')
# test.pop('day_of_week')

categorical_feature

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome']

In [164]:
# for f in numerical_feature:
#     sns.boxplot(x=f, data=train)
#     plt.show()

In [ ]:
sns.countplot(x='subscribe', data=train)
plt.show()

In [165]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
ordinal_encoder = OrdinalEncoder()
label_encoder = LabelEncoder()

train['subscribe'] = label_encoder.fit_transform(train['subscribe'])

target = train.pop('subscribe')
target

id
1        0
2        1
3        0
4        1
5        0
        ..
22496    1
22497    0
22498    0
22499    0
22500    1
Name: subscribe, Length: 22500, dtype: int32

In [166]:
for f in categorical_feature:
    train[f] = train[f].astype('category')
    test[f] = test[f].astype('category')
    
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22500 entries, 1 to 22500
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               22500 non-null  int64
 1   job               22500 non-null  category
 2   marital           22500 non-null  category
 3   education         22500 non-null  category
 4   default           22500 non-null  category
 5   housing           22500 non-null  category
 6   loan              22500 non-null  category
 7   contact           22500 non-null  category
 8   month             22500 non-null  category
 9   day_of_week       22500 non-null  category
 10  duration          22500 non-null  int64
 11  campaign          22500 non-null  int64
 12  pdays             22500 non-null  int64
 13  previous          22500 non-null  int64
 14  poutcome          22500 non-null  category
 15  emp_var_rate      22500 non-null  float64
 16  cons_price_index  22500 non-null  float64
 17  cons_conf_index   22500 non-null  float64
 18  lending_rate3m    22500 non-null  float64
 19  nr_employed       22500 non-null  float64
dtypes: category(10), float64(5), int64(5)
memory usage: 2.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 22501 to 30000
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               7500 non-null   int64
 1   job               7500 non-null   category
 2   marital           7500 non-null   category
 3   education         7500 non-null   category
 4   default           7500 non-null   category
 5   housing           7500 non-null   category
 6   loan              7500 non-null   category
 7   contact           7500 non-null   category
 8   month             7500 non-null   category
 9   day_of_week       7500 non-null   category
 10  duration          7500 non-null   int64
 11  campaign          7500 non-null   int64
 12  pdays             7500 non-null   int64
 13  previous          7500 non-null   int64
 14  poutcome          7500 non-null   category
 15  emp_var_rate      7500 non-null   float64
 16  cons_price_index  7500 non-null   float64
 17  cons_conf_index   7500 non-null   float64
 18  lending_rate3m    7500 non-null   float64
 19  nr_employed       7500 non-null   float64
dtypes: category(10), float64(5), int64(5)
memory usage: 719.8 KB

(None, None)

In [167]:
# 归一化
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train[numerical_feature] = scaler.fit_transform(train[numerical_feature])
test[numerical_feature] = scaler.fit_transform(test[numerical_feature])

train, test

(            age           job   marital            education  default  \
 id
 1      0.876440        admin.  divorced  professional.course       no
 2      0.793699      services   married          high.school  unknown
 3      0.628215   blue-collar  divorced             basic.9y       no
 4     -1.192102  entrepreneur    single          high.school      yes
 5      0.379990        admin.    single    university.degree       no
 ...         ...           ...       ...                  ...      ...
 22496 -0.612910        admin.   married          high.school       no
 22497 -0.530168        admin.  divorced          high.school       no
 22498 -1.274843        admin.   married  professional.course       no
 22499  1.372890       retired   married          high.school       no
 22500  0.297249   blue-collar   married             basic.9y  unknown

        housing     loan    contact month day_of_week  duration  campaign  \
 id
 1          yes      yes   cellular   aug         mon  2.425786 -0.327368
 2          yes       no   cellular   may         mon  2.491410 -0.327368
 3           no       no   cellular   apr         wed -0.680888 -0.465802
 4          yes      yes   cellular   aug         fri -0.549639  3.133474
 5           no       no   cellular   nov         tue  1.418386 -0.327368
 ...        ...      ...        ...   ...         ...       ...       ...
 22496       no       no   cellular   aug         fri  2.013890 -0.050501
 22497  unknown  unknown   cellular   aug         fri  1.423273  1.472270
 22498      yes       no   cellular   may         thu  0.849411 -0.465802
 22499      yes       no  telephone   may         tue -0.398146  0.226367
 22500      yes       no   cellular   apr         fri -0.416995 -0.465802

           pdays  previous     poutcome  emp_var_rate  cons_price_index  \
 id
 1     -2.024892  0.356261      failure      0.839671         -0.976142
 2     -1.107256  0.356261  nonexistent     -1.193629          0.991265
 3      0.773898 -0.164927      failure     -1.193629          0.991265
 4      0.685193 -0.686116  nonexistent      0.839671          1.258575
 5     -1.633367  1.398639      success     -2.210279         -1.328992
 ...         ...       ...          ...           ...               ...
 22496  0.461901  0.877450      failure     -1.892576         -0.384494
 22497 -0.737143  0.877450      failure      0.839671          0.032510
 22498  0.055083  1.919828      success     -1.193629         -1.111580
 22499  0.657664 -0.686116  nonexistent      0.649049         -1.485815
 22500  0.694369 -0.164927      failure     -1.193629         -1.200683

        cons_conf_index  lending_rate3m  nr_employed
 id
 1             0.748828       -1.620912     0.483566
 2            -0.121065        0.463790    -0.951686
 3            -0.837650       -1.118350    -0.671491
 4             0.745383        1.121464     0.501906
 5             1.041663       -1.323097    -1.479557
 ...                ...             ...          ...
 22496        -0.589601        0.035682     0.386769
 22497         2.343919        0.687151    -1.303190
 22498         0.538676        0.463790    -0.134246
 22499         0.330246        1.022192     0.862609
 22500        -1.089144       -1.149372     0.105344

 [22500 rows x 20 columns],
             age          job   marital            education  default housing  \
 id
 22501 -0.446530   technician    single  professional.course       no     yes
 22502 -1.191464       admin.    single          high.school       no     yes
 22503  0.298404  blue-collar   married             basic.6y       no      no
 22504 -0.363759  blue-collar   married             basic.9y       no     yes
 22505  0.050093  blue-collar   married             basic.4y       no     yes
 ...         ...          ...       ...                  ...      ...     ...
 29996  0.712256       admin.   unknown    university.degree  unknown     yes
 29997 -0.529300  blue-collar   married             basic.4y       no      no
 29998  0.795026      retired    single             basic.4y       no     yes
 29999 -0.777612   technician   married  professional.course       no      no
 30000  0.463945       admin.  divorced    university.degree       no     yes

       loan    contact month day_of_week  duration  campaign     pdays  \
 id
 22501  yes   cellular   aug         mon  1.524370 -0.333948 -0.932415
 22502   no   cellular   may         thu  1.224950 -0.333948 -1.886831
 22503   no  telephone   may         mon -0.618293 -0.060205  0.582335
 22504   no  telephone   nov         thu -0.786761 -0.333948 -1.067881
 22505   no  telephone   may         thu  0.374113 -0.333948  0.508445
 ...    ...        ...   ...         ...       ...       ...       ...
 29996  yes  telephone   apr         fri  1.978810  6.372754 -1.468120
 29997   no   cellular   jul         wed -0.394612  0.624152 -1.043251
 29998   no   cellular   jun         mon -0.735796 -0.060205  0.671619
 29999   no   cellular   aug         thu -0.681291 -0.060205  0.767060
 30000   no   cellular   aug         mon  0.455516 -0.197077 -1.206425

        previous     poutcome  emp_var_rate  cons_price_index  cons_conf_index  \
 id
 22501 -0.682018      success      0.837281          0.665928         1.178963
 22502  0.360929      success     -1.212388         -0.617632        -0.769387
 22503 -0.682018  nonexistent      0.645125         -1.355147         0.518099
 22504  1.925351      success     -0.123501         -1.284232        -0.296852
 22505  0.882403      success      0.645125          1.470812         0.617400
 ...         ...          ...           ...               ...              ...
 29996 -0.160544      failure     -1.212388          0.807758        -0.098250
 29997  0.882403      failure      0.837281         -1.028938        -1.260754
 29998 -0.682018  nonexistent     -1.916961          1.392806         0.040428
 29999 -0.682018  nonexistent      0.837281          1.208427         0.384557
 30000  0.882403      success      0.837281          1.417626         1.435775

        lending_rate3m  nr_employed
 id
 22501        0.204945     0.377538
 22502       -0.086104    -1.261373
 22503        1.078093    -1.131085
 22504       -0.017986     0.370450
 22505        0.403106    -0.867462
 ...               ...          ...
 29996        0.347373    -0.477184
 29997       -0.946867     0.097278
 29998       -1.244109    -0.136467
 29999        1.164788     0.025515
 30000        0.304026    -0.338870

 [7500 rows x 20 columns])

In [168]:
import optuna
from lightgbm import LGBMClassifier
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import roc_auc_score
import joblib

def objective(trial):
    params = {
        'num_leaves': trial.suggest_int('num_leaves', 2, 63),
        'learning_rate': trial.suggest_loguniform('learning_rate', 1e-5, 1e-1),
        'n_estimators': 1000,
        'subsample': trial.suggest_float('subsample', 0.7, 1),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.7, 1),
        'metric': 'auc',
        'verbose': -1,
        'random_state': 2024
    }

    cla = LGBMClassifier(**params)
    
    x_train, x_test, y_train, y_test = train_test_split(train, target, random_state=2024)
    cla.fit(x_train, y_train, categorical_feature = categorical_feature)
    
    y_predict = cla.predict(x_test, categorical_feature = categorical_feature, num_iteration=cla.best_iteration_)

    return roc_auc_score(y_test, y_predict)

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

[I 2024-11-23 15:22:48,274] A new study created in memory with name: no-name-885f1af9-ad91-4a44-bab6-561aa90ae70c
[I 2024-11-23 15:22:49,477] Trial 0 finished with value: 0.6541612195871008 and parameters: {'num_leaves': 40, 'learning_rate': 0.0723704621843263, 'subsample': 0.9397246335451004, 'colsample_bytree': 0.9856355629371165}. Best is trial 0 with value: 0.6541612195871008.
[I 2024-11-23 15:22:50,713] Trial 1 finished with value: 0.6056516563440948 and parameters: {'num_leaves': 29, 'learning_rate': 0.0024897049053390894, 'subsample': 0.9285711042013759, 'colsample_bytree': 0.9714705524737293}. Best is trial 0 with value: 0.6541612195871008.
[I 2024-11-23 15:22:52,201] Trial 2 finished with value: 0.6442573675484365 and parameters: {'num_leaves': 57, 'learning_rate': 0.045528182123491925, 'subsample': 0.7167753594607441, 'colsample_bytree': 0.7163213097077388}. Best is trial 0 with value: 0.6541612195871008.
[I 2024-11-23 15:22:53,130] Trial 3 finished with value: 0.6547757218402758 and parameters: {'num_leaves': 27, 'learning_rate': 0.022720804397817044, 'subsample': 0.8128795818274254, 'colsample_bytree': 0.9190899111264234}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:22:54,443] Trial 4 finished with value: 0.6513965108181619 and parameters: {'num_leaves': 46, 'learning_rate': 0.04862174867633797, 'subsample': 0.7361001801064913, 'colsample_bytree': 0.7318214149156501}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:22:54,972] Trial 5 finished with value: 0.5 and parameters: {'num_leaves': 6, 'learning_rate': 0.00018236085549949257, 'subsample': 0.9448546407280068, 'colsample_bytree': 0.9129557353384854}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:22:56,378] Trial 6 finished with value: 0.6531520740071337 and parameters: {'num_leaves': 47, 'learning_rate': 0.013771414077007417, 'subsample': 0.893839382233911, 'colsample_bytree': 0.7321599669950164}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:22:57,470] Trial 7 finished with value: 0.6512940937759661 and parameters: {'num_leaves': 34, 'learning_rate': 0.015465967227828002, 'subsample': 0.9239683883373506, 'colsample_bytree': 0.7294516091252702}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:22:58,733] Trial 8 finished with value: 0.5 and parameters: {'num_leaves': 31, 'learning_rate': 1.615867782517746e-05, 'subsample': 0.8123249105147653, 'colsample_bytree': 0.9372701919001474}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:00,310] Trial 9 finished with value: 0.6513380655612426 and parameters: {'num_leaves': 44, 'learning_rate': 0.006553885235825343, 'subsample': 0.9779080966990363, 'colsample_bytree': 0.9337700658515735}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:01,213] Trial 10 finished with value: 0.5 and parameters: {'num_leaves': 16, 'learning_rate': 0.0003954016167902214, 'subsample': 0.8083528168122942, 'colsample_bytree': 0.8520284662649251}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:02,024] Trial 11 finished with value: 0.6525665186972441 and parameters: {'num_leaves': 18, 'learning_rate': 0.05964629389945237, 'subsample': 0.8581960588698109, 'colsample_bytree': 0.9934761079373339}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:02,878] Trial 12 finished with value: 0.6524641016550483 and parameters: {'num_leaves': 23, 'learning_rate': 0.09125329333014803, 'subsample': 0.7951292488620488, 'colsample_bytree': 0.8680289630062347}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:04,325] Trial 13 finished with value: 0.6101134830450861 and parameters: {'num_leaves': 38, 'learning_rate': 0.002473308129595758, 'subsample': 0.8683974046595608, 'colsample_bytree': 0.8896851575451938}. Best is trial 3 with value: 0.6547757218402758.
[I 2024-11-23 15:23:05,996] Trial 14 finished with value: 0.6549076371961055 and parameters: {'num_leaves': 61, 'learning_rate': 0.013217424558238789, 'subsample': 0.7641310572521565, 'colsample_bytree': 0.8073223723134709}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:07,776] Trial 15 finished with value: 0.6517037619447494 and parameters: {'num_leaves': 60, 'learning_rate': 0.008765426567206048, 'subsample': 0.758573761446128, 'colsample_bytree': 0.7954118017947895}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:09,506] Trial 16 finished with value: 0.5453652359892659 and parameters: {'num_leaves': 53, 'learning_rate': 0.0011930643572314248, 'subsample': 0.771522860004616, 'colsample_bytree': 0.7924441424235432}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:09,865] Trial 17 finished with value: 0.5 and parameters: {'num_leaves': 2, 'learning_rate': 0.00011392630039289981, 'subsample': 0.8319401748425358, 'colsample_bytree': 0.8050254322910466}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:10,967] Trial 18 finished with value: 0.6256202227205385 and parameters: {'num_leaves': 25, 'learning_rate': 0.003696817979990302, 'subsample': 0.7719224238287586, 'colsample_bytree': 0.7742375862612767}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:11,659] Trial 19 finished with value: 0.6459984572657655 and parameters: {'num_leaves': 11, 'learning_rate': 0.02071341220007361, 'subsample': 0.7266503308414158, 'colsample_bytree': 0.8203903605768286}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:13,315] Trial 20 finished with value: 0.5214903485377382 and parameters: {'num_leaves': 52, 'learning_rate': 0.0008791184582930137, 'subsample': 0.7074228033040777, 'colsample_bytree': 0.8335162338315804}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:14,575] Trial 21 finished with value: 0.6542636366292967 and parameters: {'num_leaves': 39, 'learning_rate': 0.030169727546988094, 'subsample': 0.9775892798655633, 'colsample_bytree': 0.9559950718356888}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:16,262] Trial 22 finished with value: 0.6428675007429716 and parameters: {'num_leaves': 61, 'learning_rate': 0.027084215271276506, 'subsample': 0.8864190385157296, 'colsample_bytree': 0.9449059553692502}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:17,790] Trial 23 finished with value: 0.6548636654108287 and parameters: {'num_leaves': 37, 'learning_rate': 0.005979000893851119, 'subsample': 0.9930208297132623, 'colsample_bytree': 0.893493667972977}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:18,801] Trial 24 finished with value: 0.6409805735685186 and parameters: {'num_leaves': 22, 'learning_rate': 0.0071234307121532505, 'subsample': 0.8302976696842956, 'colsample_bytree': 0.908106422784054}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:20,138] Trial 25 finished with value: 0.65086995213554 and parameters: {'num_leaves': 35, 'learning_rate': 0.005310767245550529, 'subsample': 0.7567197603578728, 'colsample_bytree': 0.8781702844576489}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:21,340] Trial 26 finished with value: 0.532315953956165 and parameters: {'num_leaves': 28, 'learning_rate': 0.0010495769377375948, 'subsample': 0.9948774770453236, 'colsample_bytree': 0.9073246203143068}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:22,912] Trial 27 finished with value: 0.6547028031117138 and parameters: {'num_leaves': 51, 'learning_rate': 0.009315544809379784, 'subsample': 0.7924806956874408, 'colsample_bytree': 0.7602457773659705}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:23,843] Trial 28 finished with value: 0.5872922643291505 and parameters: {'num_leaves': 16, 'learning_rate': 0.002392657013891992, 'subsample': 0.838642369259264, 'colsample_bytree': 0.8475809359489649}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:25,272] Trial 29 finished with value: 0.6537810497319514 and parameters: {'num_leaves': 43, 'learning_rate': 0.015291365771661564, 'subsample': 0.8985351173712751, 'colsample_bytree': 0.890918911449033}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:26,948] Trial 30 finished with value: 0.6447254809741391 and parameters: {'num_leaves': 63, 'learning_rate': 0.09468910697235103, 'subsample': 0.7448342712145988, 'colsample_bytree': 0.8629779236544092}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:28,690] Trial 31 finished with value: 0.651747733730026 and parameters: {'num_leaves': 53, 'learning_rate': 0.010341201964446491, 'subsample': 0.7884403864806563, 'colsample_bytree': 0.7616242225324477}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:30,357] Trial 32 finished with value: 0.6450477569427175 and parameters: {'num_leaves': 49, 'learning_rate': 0.004812889934904449, 'subsample': 0.8084399119921614, 'colsample_bytree': 0.7646536571007256}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:31,915] Trial 33 finished with value: 0.6427066384438564 and parameters: {'num_leaves': 57, 'learning_rate': 0.02688204676297631, 'subsample': 0.785198393076335, 'colsample_bytree': 0.827013145269149}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:33,558] Trial 34 finished with value: 0.6481486637815295 and parameters: {'num_leaves': 57, 'learning_rate': 0.037597943741891016, 'subsample': 0.8131363332110254, 'colsample_bytree': 0.9726874497325144}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:35,155] Trial 35 finished with value: 0.6390936463940655 and parameters: {'num_leaves': 42, 'learning_rate': 0.003530336172494072, 'subsample': 0.8466017208908596, 'colsample_bytree': 0.921429847751824}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:36,211] Trial 36 finished with value: 0.6487047207777851 and parameters: {'num_leaves': 27, 'learning_rate': 0.010736732340571131, 'subsample': 0.9462171378915208, 'colsample_bytree': 0.7770175627055205}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:37,596] Trial 37 finished with value: 0.5912275323475199 and parameters: {'num_leaves': 36, 'learning_rate': 0.0020568344959938493, 'subsample': 0.7721838858553436, 'colsample_bytree': 0.8127848107199609}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:38,649] Trial 38 finished with value: 0.6517182354163922 and parameters: {'num_leaves': 31, 'learning_rate': 0.046937856436667105, 'subsample': 0.8709729036653308, 'colsample_bytree': 0.7100523835031528}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:40,044] Trial 39 finished with value: 0.6537665762603087 and parameters: {'num_leaves': 47, 'learning_rate': 0.018437505673910535, 'subsample': 0.7379962386772181, 'colsample_bytree': 0.7464759924012081}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:41,679] Trial 40 finished with value: 0.5 and parameters: {'num_leaves': 50, 'learning_rate': 3.7128769913682424e-05, 'subsample': 0.826038390382607, 'colsample_bytree': 0.8402535104819768}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:43,057] Trial 41 finished with value: 0.6537370779466748 and parameters: {'num_leaves': 40, 'learning_rate': 0.03340597933923555, 'subsample': 0.9749388706763157, 'colsample_bytree': 0.9563677176484122}. Best is trial 14 with value: 0.6549076371961055.
[I 2024-11-23 15:23:44,351] Trial 42 finished with value: 0.6569409531980308 and parameters: {'num_leaves': 38, 'learning_rate': 0.013067800480859038, 'subsample': 0.9643787216852833, 'colsample_bytree': 0.9717443577753236}. Best is trial 42 with value: 0.6569409531980308.
[I 2024-11-23 15:23:45,576] Trial 43 finished with value: 0.6631143713027172 and parameters: {'num_leaves': 32, 'learning_rate': 0.01609827799416367, 'subsample': 0.960221224099744, 'colsample_bytree': 0.9744841499104088}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:46,700] Trial 44 finished with value: 0.6478998579118612 and parameters: {'num_leaves': 33, 'learning_rate': 0.061239768342500986, 'subsample': 0.9573711472670988, 'colsample_bytree': 0.9775092230383422}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:47,599] Trial 45 finished with value: 0.6494945588017179 and parameters: {'num_leaves': 21, 'learning_rate': 0.016310422245596003, 'subsample': 0.9189949294471312, 'colsample_bytree': 0.9587724028121253}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:48,851] Trial 46 finished with value: 0.6460569025226848 and parameters: {'num_leaves': 30, 'learning_rate': 0.006343123561482926, 'subsample': 0.951464691357845, 'colsample_bytree': 0.9977207554889143}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:50,113] Trial 47 finished with value: 0.6600424114071909 and parameters: {'num_leaves': 37, 'learning_rate': 0.011978250759695106, 'subsample': 0.9962092856313848, 'colsample_bytree': 0.9277785186544782}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:51,516] Trial 48 finished with value: 0.5764082136538045 and parameters: {'num_leaves': 37, 'learning_rate': 0.0017148392818616706, 'subsample': 0.9975107119245101, 'colsample_bytree': 0.9292106092890615}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:53,307] Trial 49 finished with value: 0.6456912061391781 and parameters: {'num_leaves': 45, 'learning_rate': 0.003956344734951081, 'subsample': 0.9627218354087228, 'colsample_bytree': 0.9885413642349169}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:54,506] Trial 50 finished with value: 0.6534737986053638 and parameters: {'num_leaves': 33, 'learning_rate': 0.012656646675071326, 'subsample': 0.9323486913814061, 'colsample_bytree': 0.8981179576733994}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:55,488] Trial 51 finished with value: 0.6518790977155072 and parameters: {'num_leaves': 25, 'learning_rate': 0.02323218445373128, 'subsample': 0.9868425085580345, 'colsample_bytree': 0.9429188362512468}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:56,981] Trial 52 finished with value: 0.5 and parameters: {'num_leaves': 41, 'learning_rate': 0.0005651229919979224, 'subsample': 0.9728040719839245, 'colsample_bytree': 0.9653853127179997}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:58,007] Trial 53 finished with value: 0.6529617133943848 and parameters: {'num_leaves': 28, 'learning_rate': 0.04515611678542171, 'subsample': 0.9156559147644189, 'colsample_bytree': 0.9244841454337202}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:23:59,259] Trial 54 finished with value: 0.6478124657116564 and parameters: {'num_leaves': 31, 'learning_rate': 0.007860320594249463, 'subsample': 0.9843250706654888, 'colsample_bytree': 0.9822106328785766}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:00,546] Trial 55 finished with value: 0.6592670468549009 and parameters: {'num_leaves': 35, 'learning_rate': 0.013619672296017307, 'subsample': 0.9651652594671736, 'colsample_bytree': 0.8764662424792471}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:02,133] Trial 56 finished with value: 0.6318815843957781 and parameters: {'num_leaves': 38, 'learning_rate': 0.0033287917808853037, 'subsample': 0.9631989534962841, 'colsample_bytree': 0.8739294480840609}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:03,574] Trial 57 finished with value: 0.657613900708125 and parameters: {'num_leaves': 36, 'learning_rate': 0.014031056136596649, 'subsample': 0.9374870581915975, 'colsample_bytree': 0.8609052101288829}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:04,986] Trial 58 finished with value: 0.6591791032843478 and parameters: {'num_leaves': 34, 'learning_rate': 0.019880087094513058, 'subsample': 0.9345310079278649, 'colsample_bytree': 0.9494033685665867}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:06,117] Trial 59 finished with value: 0.6456177360402677 and parameters: {'num_leaves': 35, 'learning_rate': 0.06593354752356509, 'subsample': 0.9347862537140643, 'colsample_bytree': 0.9438890082275824}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:07,401] Trial 60 finished with value: 0.6574090666237332 and parameters: {'num_leaves': 40, 'learning_rate': 0.018841164368877478, 'subsample': 0.9030885837328291, 'colsample_bytree': 0.9690449002170864}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:08,955] Trial 61 finished with value: 0.6537810497319514 and parameters: {'num_leaves': 40, 'learning_rate': 0.01728507211571, 'subsample': 0.9031300920993338, 'colsample_bytree': 0.970197455671277}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:10,207] Trial 62 finished with value: 0.6538539684605134 and parameters: {'num_leaves': 34, 'learning_rate': 0.02195723390281687, 'subsample': 0.9412148400001448, 'colsample_bytree': 0.9530287252930824}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:11,893] Trial 63 finished with value: 0.6601008566641102 and parameters: {'num_leaves': 44, 'learning_rate': 0.012728175239762643, 'subsample': 0.9113455107293664, 'colsample_bytree': 0.9356242098838016}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:13,225] Trial 64 finished with value: 0.643598893509985 and parameters: {'num_leaves': 43, 'learning_rate': 0.03755353739716237, 'subsample': 0.9132656462438926, 'colsample_bytree': 0.9352604240769249}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:14,778] Trial 65 finished with value: 0.5 and parameters: {'num_leaves': 46, 'learning_rate': 0.00022114542158184423, 'subsample': 0.8879752837197645, 'colsample_bytree': 0.914294241043531}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:16,282] Trial 66 finished with value: 0.6549076371961055 and parameters: {'num_leaves': 36, 'learning_rate': 0.008346481266870728, 'subsample': 0.9083950863846801, 'colsample_bytree': 0.8590240498741123}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:17,898] Trial 67 finished with value: 0.656838536155835 and parameters: {'num_leaves': 48, 'learning_rate': 0.011431795352938697, 'subsample': 0.8733131616542832, 'colsample_bytree': 0.8812722934800693}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:19,050] Trial 68 finished with value: 0.6540003572879857 and parameters: {'num_leaves': 32, 'learning_rate': 0.028287697999464647, 'subsample': 0.9288978932294116, 'colsample_bytree': 0.9483095568765575}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:20,314] Trial 69 finished with value: 0.6408636830546799 and parameters: {'num_leaves': 29, 'learning_rate': 0.00481729617993093, 'subsample': 0.9516281057638508, 'colsample_bytree': 0.9069385261894521}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:21,787] Trial 70 finished with value: 0.6542051913723774 and parameters: {'num_leaves': 44, 'learning_rate': 0.020631196167793554, 'subsample': 0.9268280740526865, 'colsample_bytree': 0.9869510764102627}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:23,166] Trial 71 finished with value: 0.6529032681374654 and parameters: {'num_leaves': 40, 'learning_rate': 0.014169511009860625, 'subsample': 0.942143939264361, 'colsample_bytree': 0.9659540248260804}. Best is trial 43 with value: 0.6631143713027172.
[I 2024-11-23 15:24:24,516] Trial 72 finished with value: 0.6543515801998497 and parameters: {'num_leaves': 39, 'learning_rate': 0.012898863734123042, 'subsample': 0.9679104045335674, 'colsample_bytree': 0.9370345590228425}. Best is trial 43 with value: 0.6631143713027172.

In [169]:
best_params = study.best_params
print(f'best params:{best_params}')
cla = LGBMClassifier(**best_params)

# cla = LGBMClassifier(n_estimators=600,learning_rate=0.01,boosting_type= 'gbdt',   
#     objective = 'binary',
#     max_depth = -1,  
#     random_state=2022,           
#     metric='auc')


kf = KFold(n_splits = 5, shuffle=True, random_state=2024)

probas = [0] * len(test)
valid_score = 0
for train_index, test_index in kf.split(train):
    x_train, x_test = train.iloc[train_index], train.iloc[test_index]
    y_train, y_test = target.iloc[train_index], target.iloc[test_index]
    cla.fit(x_train, y_train, categorical_feature = categorical_feature)
    
    y_predict = cla.predict(x_test, categorical_feature = categorical_feature, num_iteration=cla.best_iteration_)
    valid_score += roc_auc_score(y_predict, y_test)/5
    
    y_predict = cla.predict_proba(test, categorical_feature = categorical_feature, num_iteration=cla.best_iteration_)
    for i in range(len(test)):
        probas[i] += y_predict[i][0]/5
        
print(f'验证集score:{valid_score}')
    

# y_predict_train = cla.predict(x_train, num_iteration=cla.best_iteration_)
# train_score = accuracy_score(y_train, y_predict_train)
# y_predict_test = cla.predict(x_test, num_iteration=cla.best_iteration_)
# test_score = accuracy_score(y_test, y_predict_test)

# # joblib.dump(cla, 'lgbm_model.pkl')

# print(f'train score {train_score} \n test score {test_score}')

best params:{'num_leaves': 32, 'learning_rate': 0.01609827799416367, 'subsample': 0.960221224099744, 'colsample_bytree': 0.9744841499104088}
验证集score:0.7965520175137857

In [170]:
# result = cla.predict(test)
# result = label_encoder.inverse_transform(result)

data = {
    'id': test.index,
    'subscribe': [('no' if i > 0.5 else 'yes') for i in probas]
}

submission = pd.DataFrame(data)
submission.to_csv('submission.csv', index=None)